:root {
    --orange-dark: #230700;
    --orange-medium: #A04000;
    --orange: #FF8000;
    --border_radius: 1.5em;

    /* Redefine Element Colors */
    --html: var(--orange-dark);
	--page: var(--orange-dark);
	--content: var(--orange-dark);
	--text: var(--orange);
	--text-clicked: var(--orange-medium);
	--text-faded: var(--orange-medium);
	--gradient-left: var(--acccent-light);
	--gradient-right: var(--acccent-darkest);

    --text-box-padding: 1.5em;
    --main-border: .15em solid var(--orange);
}

a, button, caption, h1, h2, h3, li, ol, p, table, td, th, ul {
    font-family: "Poppins", sans-serif;
    color: var(--orange);
}

/* Main Containers */

html, body {
    background: var(--orange-dark);
}

.box {
    border: var(--main-border);
    border-radius: var(--border_radius);
    padding: var(--text-box-padding);
}

.sidebar {
    max-width: 33%;
    width: 5em;
    float: left;
}

.page {
    width: 66%;
}

.main {
    display: flex;
}