:root {
	--text-box-padding: 1em;
}

.mini-contacts {
	display: none;
}

.text-box {
	padding: var(--text-box-padding);
}


/* Outdated */
@media (max-aspect-ratio: 1/1){
	/* :root {
		--main-padding: 1em;
	}
	h1 {
		font-size: 2em;
		font-weight: bold;
	}
	h2 {
		font-size: 1em;
		font-weight: bold;
	}
	h3 {
		font-size: 1em;
		font-weight: bold;
	} */
	/* .page {
		margin: auto;
		padding: 0;
	}
	.container {
		display: flex;
		justify-content: left;
	} */
	/* .content {
		margin: 0;
	} */
	/* nav {
		display: none;
	}
	button {
		font-size: 1em;
	} */
	/* .text-box {
		padding: var(--main-padding);
		margin: 0;
	} */
	/* .mini-contacts {
		display: block;
	} */
	/* .label {
		top: 5em;
	}
	.h3-bold h3, .h3-normal p {
		max-width: 60%;
		clear: left;
	}
	
	.h3-bold h3:last-child {
		text-align: right;
		max-width: 40%;
	} */
	#Education, #Experience, #Volunteerism, #Contact {
		scroll-margin-top: 5em;
	}
}






/* Keep these */

@media (max-aspect-ratio: 1/1){
	.h3-bold h3 {
		max-width: 60%;
		clear: left;
	}

	.h3-bold h3:last-child {
		text-align: right;
		max-width: 40%;
	}
	.h3-normal {
		display: block;
		max-width: 100%;
	}
	.h3-normal :last-child {
		display: none;
	}
	.separation-line *:not(:last-child)::after {
		content: none;
	}

}

@media print {
	.label, .labeled-box {
		padding: 0;
		margin: 0;
	}
	.mini-contacts {
		display: flex;
	}
	
	#Contact, .resume-heading  {
		display: none;
	}
}


