/* Variables */
:root {

	/* Window Dialog Bar */
	--win-left: #000080;
	--win-right: #1084d0;
	/* Window Buttons */
	--win-lowest: #000000;
	--win-low: #60615F;
	--win-main: #D5D1C9;
	--win-highest: #ffffff;
	/* OS Background */
	--win-background: #008080;
	
	/* Page Elements */
	--html: var(--win-background);
	--page: var(--win-highest);
	--content: #f0f0f0;
	--text: #000000;
	--text-clicked: gray;
	--gradient-left: var(--win-left);
	--gradient-right: var(--content);
	--main: #FF8000;
	
}


/* Setting Defaults */

html, body {
	margin: 0 auto;
	padding: 0;
	width: 100%;
	height: 100%;
	max-width: 100vw;
	display: block;
	border: none;
	background-color: var(--html);
	/* background: linear-gradient(180deg, var(--gradient-left) 20%, var(--gradient-right) 100%); */
	background-image: url("../images/background/clouds1024.png");
	background-size: cover; /* Adjusts the background image size to cover the entire element */
	background-position: center; /* Centers the background image */
	background-attachment: fixed;
	width: 65em;
	min-height: 256px;
	min-width: 256px;
	max-width: 100vw;
}

aside, div, header, footer {
	margin: 0;
	padding: 0;
	border: none;
	background: none;
}

a, button, caption, h1, h2, h3, li, ol, p, table, td, th, ul {
	margin: 0;
	padding: 0;
	font-family: 'Times New Roman', serif;
	color: var(--text);
	font-size: 16px;
	font-weight: normal;
	font-style: normal;
	line-height: 1.25em;
}

a:hover {
	color: var(--low-light);
}

a:focus {
	outline: 2px dotted var(--win-lowest);
}

a:active {
	color: var(--text-clicked);
}

ol, ul {
	padding: 0;
	padding-left: 1em;
}

h1 {
	font-size: 4em;
	font-weight: bold;
	line-height: 1em;
}

h2 {
	font-weight: bold;
	font-size: 2em;
	line-height: 1em;
}

h3 {
	font-size: 1.5em;
	line-height: 1em;
}

p {
	font-size: 1em;
}



/* Main Containers */

.page {
	margin: 0 auto;
	border: 2px solid black;
	padding: 1.5em; /* page padding */
	border-top: none;
	padding-top: 0;
	background: var(--page);
}

.container {
	display: flex;
}

.content { /* Experience, Projects, Contact*/
	display: block;
	background: var(--content);
	margin: 0 auto;
	margin-left: 13em;
}

.textbox {
	padding: 1.5em;
}

aside {
	
	border: none;
}



/* Header */

header h2, header a {
	color: gray;
}

header {
	margin: 0 auto; /* align to center horizontally */
	justify-content: center; /* center middle horizontally */
	align-items: center; /* center portfolio with name */
	text-align: center;
	padding: 1.5em;
	background: var(--page);
	position: sticky;
	top: 0;
	z-index: 1;
}

.mini-contacts {
	font-weight: normal;
	font-size: 1.5em;
	display: none;
}

.mini-contacts a {
	text-decoration: none;
	font-size: 1em;
}



/* Navigation */

nav {
	margin-top: 1.5em;
	padding: 1em;
	background: var(--win-main);
	border-top: 2px solid var(--win-highest);
	border-left: 2px solid var(--win-highest);
	border-bottom: 2px solid var(--win-low);
	border-right: 2px solid var(--win-low);
	outline: 2px solid var(--win-lowest);
	float: left;
	position: fixed;
	z-index: 2;
}

.nav-header {
	display: flex;
	justify-content: center;
	align-items: center;
	padding-bottom: 0.5em;
}

.nav-header > :first-child {
	padding-right: .5em;
}

.nav-header img {
	width: 100%;
	height: 100%;
	justify-content: center;
	align-items: center;
}

.nav-header a:hover {
	filter: brightness(125%);
}

.nav-header a:active {
	filter: brightness(75%);
}

.nav-header a:focus:hover {
	background: var(--win-highest);
}

.nav-header h3 {
	text-align: center;
	font-weight: bold;
}

.navlist {
	width: 100%;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.navlist button {
	width: 100%;
	height: 100%;
	position: relative;
	border-top: 2px solid var(--win-highest);
	border-left: 2px solid var(--win-highest);
	border-bottom: 2px solid var(--win-low);
	border-right: 2px solid var(--win-low);
	background: var(--win-main);
	padding: 0.5em;
	text-align: left;
	z-index: 0;
}
	
.navlist button:hover{
	outline: 2px solid var(--win-lowest);
	z-index: 1;
}

.navlist button:active {
	border-top: 2px solid var(--win-low);
	border-left: 2px solid var(--win-low);
	border-bottom: 2px solid var(--win-highest);
	border-right: 2px solid var(--win-highest);
}

.navlist button:focus:not(:active) {
	outline: 2px dotted var(--win-lowest);
	outline-offset: -8px;
}



/* Main Content */

.label {
	background: var(--low-light);
	background: linear-gradient(90deg, var(--gradient-left) 33%, var(--gradient-right) 100%);
	padding: 1em;
	position: sticky;
	top: 8.99em;
}

.label h2 {
	color: #ffffff;
}

.eTitle h3, .eLocation p {
	display: inline-block;
}

.eTitle h3:last-child, .eLocation p:last-child {
	float: right;
}

.eLocation p {
	padding-bottom: .25em;
}

#Resume .textbox h2 {
	line-height:1em;
}

#Resume ol {
	list-style: none;
	padding: 0;
	margin: 0;
}

#Resume ul {
	list-style: square;
}

#Resume ol > li:not(:last-child) { /* Bottom margin/padding for list items */
	padding-bottom: 1.5em;
}

/* Footer */
footer {
	text-align: center;
}



/* Media Queries */

/* failsafe for max-width not working*/
/* @media (min-height:100vw) {
	.page {
		width: 100vw; 
	}
} */
/* Hide navigation */
/* @media (max-height: 640px), (max-width:480px){
	aside {
		display: none; 
	}
} */

 /* add space/padding between page and browser */
 /* if the viewport isn't tiny OR the aspect ratio is not landscape */
/* @media (min-height:640px) and (min-width:101vh) {
	body {
		margin: 1vw auto;
	}
} */

@media (max-aspect-ratio: 1/1){
	h1 {
		font-size: 2em;
		font-weight: bold;
	}
	h2 {
		font-size: 1em;
		font-weight: bold;
	}
	h3 {
		font-size: 1em;
		font-weight: bold;
	}
	.page {
		margin: auto;
		padding: 0;
	}
	.container {
		display: flex;
		justify-content: left;
	}
	.content {
		/* margin-left: 7.9em; */
		margin: 0;
	}
	nav {
		display: none;
	}
	button {
		font-size: 1em;
	}
	.textbox {
		padding: 0.5em;
		margin: 0;
	}
	.label {
		top: 6em;
	}
	.eTitle h3, .eLocation p {
		max-width: 60%;
		clear: left;
	}
	
	.eTitle h3:last-child, .eLocation p:last-child {
		text-align: right;
		max-width: 40%;
	}
}

@media print {
	.label {
		text-transform: uppercase;
		border-bottom: #000000 2px solid;
	}
	.label, .textbox, header {
		padding: 0;
	}
	.textbox {
		padding: 0.5em 0;
	}
	#Resume ol > li:not(:last-child) { /* Bottom margin/padding for list items */
		padding-bottom: 1em;
	}
	a {
		text-decoration: none;
	}
	.page {
		padding: 0;
		border: none;
	}
	.content {
		margin: 0;
	}
	aside, footer, .resume-heading {
		display: none; /* Hide navigation */
	}
	.mini-contacts {
		display: block;
		font-size: 1em;
	}
	header {
		padding-bottom: 0.5em;
	}
	header h1 {
		padding-bottom: 0.25em;
	}
	#Contact {
		display: none;
	}
}